<center>
    <p><a href="https://github.com/mpilosov/ConsistentBayes.git">GitHub | ConsistentBayes</a></p>
    <br>
    <!-- Download - Place this tag where you want the button to render. -->
    <!-- <a class="github-button" href="https://github.com/mpilosov/ConsistentBayes/archive/master.zip" data-icon="octicon-cloud-download" aria-label="Download mpilosov/ConsistentBayes on GitHub">Download</a> -->
    
    <!-- Star - Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/mpilosov/ConsistentBayes" data-icon="octicon-star" data-show-count="false" aria-label="Star mpilosov/ConsistentBayes on GitHub">Star</a>
    <a> | </a>
    <!-- Fork - Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/mpilosov/ConsistentBayes" data-icon="octicon-repo-forked" data-show-count="false" aria-label="Fork mpilosov/ConsistentBayes on GitHub">Fork</a>

</center>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

